# logs
logs
*.log
npm-debug.log*
coverage

# diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dependencies
node_modules/
jspm_packages/

# sst
.sst
.build
.sst*
# misc
.DS_Store
_dev

# local env files
.env
.env*.local

# python
*venv

# rust
target
plots
.cargo

# vscode
.code-workspace

*.pyc
